{
    "data":{
    "server.address": "0.0.0.0:8080",
    "database.host": "localhost",
    "database.log.enabled": "true",
    "database.name": "db_name",
    "database.parsetime.boolean": "true",
    "database.password": "db_pass",
    "database.port": "3306",
    "database.username": "db_username"
    }
}